# `Buisness Dataset`

In [1]:
# Import libraries

import pandas as pd
import numpy as np
from collections import defaultdict

%run -i 'json_to_csv.py' 'business.json'
%run -i 'json_to_csv.py' 'checkin.json'
%run -i 'json_to_csv.py' 'review.json'
%run -i 'json_to_csv.py' 'tip.json'
%run -i 'json_to_csv.py' 'user.json'

In [2]:
# Load data

# business_data = pd.read_json('business.json', lines=True)

business = pd.read_csv('business.csv')
business.info()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3156: DtypeWarning: Columns (18,49) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209393 entries, 0 to 209392
Data columns (total 60 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   city                                   209391 non-null  object
 1   attributes.GoodForMeal                 35182 non-null   object
 2   attributes.Smoking                     4270 non-null    object
 3   attributes.BusinessAcceptsBitcoin      16532 non-null   object
 4   address                                200714 non-null  object
 5   attributes.BYOBCorkage                 1425 non-null    object
 6   attributes.WheelchairAccessible        28635 non-null   object
 7   attributes.RestaurantsDelivery         56679 non-null   object
 8   state                                  209393 non-null  object
 9   attributes.OutdoorSeating              58441 non-null   object
 10  attributes.HasTV                       53388 non-null   object
 11  attributes.Alcohol                     50838 non-null   object
 12  attributes.DogsAllowed                 17539 non-null   object
 13  attributes.GoodForDancing              5186 non-null    object
 14  hours.Sunday                           102117 non-null  object
 15  attributes.AgesAllowed                 136 non-null     object
 16  attributes.RestaurantsTakeOut          66301 non-null   object
 17  attributes.BestNights                  5483 non-null    object
 18  attributes.Open24Hours                 14 non-null      object
 19  hours.Saturday                         139579 non-null  object
 20  stars                                  209393 non-null  float64
 21  attributes.RestaurantsPriceRange2      111288 non-null  object
 22  attributes.BYOB                        740 non-null     object
 23  attributes.Music                       7912 non-null    object
 24  attributes.WiFi                        65331 non-null   object
 25  attributes.RestaurantsGoodForGroups    56162 non-null   object
 26  attributes.DietaryRestrictions         61 non-null      object
 27  is_open                                209393 non-null  int64
 28  attributes.BikeParking                 89765 non-null   object
 29  latitude                               209393 non-null  float64
 30  longitude                              209393 non-null  float64
 31  attributes.HappyHour                   15324 non-null   object
 32  postal_code                            208884 non-null  object
 33  name                                   209392 non-null  object
 34  attributes.ByAppointmentOnly           60799 non-null   object
 35  attributes.HairSpecializesIn           1260 non-null    object
 36  attributes.RestaurantsAttire           49567 non-null   object
 37  categories                             208869 non-null  object
 38  attributes.Corkage                     1090 non-null    object
 39  attributes.RestaurantsReservations     55361 non-null   object
 40  attributes.AcceptsInsurance            8660 non-null    object
 41  business_id                            209393 non-null  object
 42  attributes.DriveThru                   4282 non-null    object
 43  hours.Thursday                         162281 non-null  object
 44  attributes.Ambience                    53806 non-null   object
 45  attributes.NoiseLevel                  46559 non-null   object
 46  hours.Wednesday                        161491 non-null  object
 47  review_count                           209393 non-null  int64
 48  attributes                             180348 non-null  object
 49  attributes.RestaurantsCounterService   13 non-null      object
 50  attributes.Caters                      43969 non-null   object
 51  attributes.GoodForKids                 68535 non-null   object
 52  hours.Tuesday                          159636 non-null  object
 53  attributes.BusinessParking             115215 non-null  object
 54  hours.Monday                           151872 non-null  object
 55  attributes.CoatCheck                   4909 non-null    object
 56  hours                                  164550 non-null  object
 57  hours.Friday                           161515 non-null  object
 58  attributes.BusinessAcceptsCreditCards  122237 non-null  object
 59  attributes.RestaurantsTableService     20785 non-null   object
dtypes: float64(3), int64(2), object(55)
memory usage: 95.9+ MB

In [3]:
# DF Information 

business.head()

,city,attributes.GoodForMeal,attributes.Smoking,attributes.BusinessAcceptsBitcoin,address,attributes.BYOBCorkage,attributes.WheelchairAccessible,attributes.RestaurantsDelivery,state,attributes.OutdoorSeating,...,attributes.Caters,attributes.GoodForKids,hours.Tuesday,attributes.BusinessParking,hours.Monday,attributes.CoatCheck,hours,hours.Friday,attributes.BusinessAcceptsCreditCards,attributes.RestaurantsTableService
0,Cornelius,NaN,NaN,NaN,10913 Bailey Rd,NaN,NaN,NaN,NC,NaN,...,NaN,False,11:0-20:0,"{'garage': False, 'street': False, 'validated'...",10:0-18:0,NaN,"{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'...",11:0-20:0,True,NaN
1,Scottsdale,NaN,NaN,NaN,"8880 E Via Linda, Ste 107",NaN,NaN,NaN,AZ,NaN,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Montreal,NaN,NaN,NaN,3554 Rue Notre-Dame O,NaN,NaN,NaN,QC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,North Las Vegas,NaN,NaN,NaN,1015 Sharp Cir,NaN,NaN,NaN,NV,NaN,...,NaN,NaN,7:0-16:0,"{'garage': False, 'street': False, 'validated'...",7:0-16:0,NaN,"{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ...",7:0-16:0,True,NaN
4,Mesa,NaN,NaN,NaN,4827 E Downing Cir,NaN,NaN,NaN,AZ,NaN,...,NaN,NaN,9:0-16:0,NaN,0:0-0:0,NaN,"{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '...",9:0-16:0,True,NaN

In [4]:
# Get 'states' information

business.state.unique()

array(['NC', 'AZ', 'QC', 'NV', 'IL', 'ON', 'AB', 'PA', 'WI', 'SC', 'OH',
       'CA', 'TX', 'NY', 'CO', 'XWY', 'GA', 'BC', 'YT', 'HPL', 'AL', 'UT',
       'VT', 'WA', 'NE', 'DOW', 'MI', 'FL', 'AR', 'HI', 'MB', 'OR', 'AK',
       'VA', 'CT', 'MO', 'DUR'], dtype=object)

In [5]:
# Consider only US states

us_states = ['AL','AK','AR','AS','AZ','CA','CO','CT','DC','DE','FL','FM','GA','GU','HI','IA','ID','IL','IN','KS','KY','LA','MA','MD','ME','MH','MI','MN','MO','MS','MT','NC','ND','NE','NH','NJ','NM','NV','NY','MP','OH','OK','OR','PA','PR','PW','RI','SC','SD','TN','TX','UT','VA','VI','VT','WA','WI','WV','WY']

In [6]:
# Clean data by removing null 

business = business[business.categories.notnull()]
len(business)

208869

In [7]:
# Extract categories

category = defaultdict(int)

for idx, row in business.iterrows():
    if row['categories'] is not np.nan: 
        data = row['categories'].split(',')
        for entry in data: 
            entry = entry.strip().lower()
            category[entry] += 1

In [8]:
category_sorted = sorted(category.items(), key=lambda x: x[1], reverse=True)
print(len(category))
print(category_sorted[:20])

1336
[('restaurants', 63944), ('shopping', 34644), ('food', 32991), ('home services', 22487), ('beauty & spas', 20520), ('health & medical', 19227), ('local services', 15783), ('automotive', 14720), ('nightlife', 14211), ('bars', 12400), ('event planning & services', 11263), ('active life', 10225), ('coffee & tea', 8415), ('fashion', 8374), ('fast food', 8106), ('sandwiches', 8064), ('american (traditional)', 7596), ('home & garden', 7331), ('hair salons', 7303), ('pizza', 7302)]

In [9]:
# Apply filters for states and categories
# Reduced to 153579 by 26% after US states and then restaurant related to 44202 reduced by 78% overall based on non- null data

business = business[(business.postal_code.astype(str).apply(len) == 5) & (business.state.isin(us_states)) & 
                    ((business.categories.str.contains('restaurant', case=False)) |
                     (business.categories.str.contains('bar', case=False)) | 
                     (business.categories.str.contains('nightlife', case=False)))]

In [10]:
# Confirm data contains only US states

business.state.unique()

array(['IL', 'NC', 'AZ', 'NV', 'OH', 'PA', 'SC', 'WI', 'TX', 'CO', 'NY',
       'FL', 'VT', 'AR', 'HI', 'OR', 'WA', 'AK', 'CA', 'VA', 'NE'],
      dtype=object)

In [11]:
# Extract cuisine and style from 'categories' column information 

cuisines = ['american (new)', 'american (traditional)', 'asian fusion', 'bagels', 'bakeries', 
            'barbeque', 'beer', 'bubble tea', 'burgers', 'cajun', 'chicken wings', 'chinese', 
            'coffee & tea', 'cupcakes', 'custom cakes', 'desserts', 'donuts', 'ethnic food', 
            'french', 'gluten-free', 'greek', 'hawaiian', 'hot dogs', 'ice cream & frozen yogurt', 
            'indian', 'italian', 'japanese', 'korean', 'latin american', 'local flavor', 'mediterranean', 
            'mexican', 'middle eastern', 'pizza', 'salad', 'sandwiches', 'seafood', 'shaved ice', 'soup', 
            'southern', 'specialty food', 'steakhouse', 'sushi bars', 'tacos', 'tapas/small plates', 'tex-mex', 
            'thai', 'vegan', 'vegetarian', 'vietnamese', 'wine & spirits']

styles = ['bars', 'beer bars', 'breakfast & brunch', 'breweries', 'buffets', 'cafes', 'casinos', 
          'caterers', 'cocktail bars', 'dance clubs', 'delis', 'diners', 'dive bars', 'fast food', 
          'food delivery services', 'food stands', 'food trucks', 'juice bars & smoothies', 'lounges', 
          'music venues', 'nightlife', 'performing arts', 'pubs', 'restaurants', 'sports bars', 'street vendors', 
          'wine bars']

# Create new columns
business['cuisine'] = None
business['style'] = None


for idx, row in business.iterrows():
    if row['categories'] is not np.nan:
        cuisine_list = row['categories'].split(',')
        #print(cuisine_list)
        for i in cuisine_list:
            i = i.strip().lower()
            # print(i)
            if i in cuisines:
                # print('cuisine')
                if business.loc[idx, 'cuisine'] == None:
                    business.loc[idx, 'cuisine'] = i
                else:
                    business.loc[idx, 'cuisine'] += (',' + i)
                #print(business['cuisine'])
                
            elif i in styles:
                # print('style')
                if business.loc[idx, 'style'] == None:
                    business.loc[idx, 'style'] = i
                else:
                    business.loc[idx, 'style'] += (',' + i)
                #print(business['style'])

In [12]:
# Update None with NaN
# Reset index
# check NaN

business.fillna(value=np.nan, inplace=True)
business.reset_index(drop=True, inplace=True)
business.isnull().sum()

city                                         0
attributes.GoodForMeal                   21890
attributes.Smoking                       41299
attributes.BusinessAcceptsBitcoin        39081
address                                    505
                                         ...
hours.Friday                              8792
attributes.BusinessAcceptsCreditCards     3359
attributes.RestaurantsTableService       31203
cuisine                                   7946
style                                     1930
Length: 62, dtype: int64

## Summary of 'business dataframe'

1. `business_id`: No NaN, 22 character length, case-sensitive corresponds to `business_id` in user dataframe
2. `name`, `address`, `city`, `state`, `postal_code`, `latitude`, `longitude`, `review_count`: No NaN
3. `stars`: No NaN, ratings take value 1(1%), 1.5(2.5%), 2(6%), 2.5(10%), 3(16.5%), 3.5(22%), 4(24%), 4.5(14%), 5(4%)
5. `is_open`: No NaN, 0 for closed(31%), 1 for open(69%)
6. `attributes`: 1.6% NaN with subattributes in nested dict
7. `categories`: No NaN, describes cusine or style
8. `hours`: 20% NaN
9. `cuisine`: 18% NaN, represents cuisines
10. `style`: 5% NaN, represents styles

# `Checkin Dataset`

In [13]:
# Load data

# checkin_data = pd.read_json('checkin.json', lines=True)
checkin = pd.read_csv('checkin.csv')
checkin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175187 entries, 0 to 175186
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date         175187 non-null  object
 1   business_id  175187 non-null  object
dtypes: object(2)
memory usage: 2.7+ MB

In [14]:
# DF information

checkin.head()

                                                date             business_id
0  2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016...  --1UhMGODdWsrMastO9DZw
1  2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012...  --6MefnULPED_I942VcFNA
2  2014-12-29 19:25:50, 2015-01-17 01:49:14, 2015...  --7zmmkVg-IMGaXbuVd0SQ
3                                2016-07-08 16:43:30  --8LPVSo5i0Oo61X01sV9A
4  2010-06-26 17:39:07, 2010-08-01 20:06:21, 2010...  --9QQLMTbFzLJ_oT-ON3Xw

In [15]:
# Convert date column to string and count checkins

checkin['checkin_count'] = checkin['date'].astype(str).str.len()

In [16]:
# Check NaN

checkin.isnull().sum()

date             0
business_id      0
checkin_count    0
dtype: int64

In [17]:
# Check duplicates

len(checkin['business_id'].unique())

175187

## Summary of 'checkin dataframe'

1. `business_id`: No NaN, unique ids, 22 characters
2. `date`: No NaN, nested dictionaries representing checkins
3. `checkin_count`: No NaN, total number of checkins ranging from 19 to 3185089

# `Review Dataset`

In [18]:
# Load data

# review_data = pd.read_json('review.json', lines=True)
review = pd.read_csv('review.csv')
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8021122 entries, 0 to 8021121
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   date         object
 1   review_id    object
 2   user_id      object
 3   useful       int64
 4   funny        int64
 5   text         object
 6   business_id  object
 7   stars        float64
 8   cool         int64
dtypes: float64(1), int64(3), object(5)
memory usage: 550.8+ MB

In [19]:
# DF information

review.head()

,date,review_id,user_id,useful,funny,text,business_id,stars,cool
0,2015-04-15 05:21:16,xQY8N_XvtGbearJ5X4QryQ,OwjRMXRC0KyPrIlcjaXeFQ,5,0,"As someone who has worked with many museums, I...",-MhfebM0QIsKt87iDN-FNw,2.0,0
1,2013-12-07 03:16:52,UmFMZ8PyXZTY2QcwzsfQYA,nIJD_7ZXHq-FX8byPMOkMQ,1,1,I am actually horrified this place is still in...,lbrU8StCq3yDfr-QMnGrmQ,1.0,0
2,2015-12-05 03:18:11,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,1,0,I love Deagan's. I do. I really do. The atmosp...,HQl28KMwrEKHqhFrrDqVNQ,5.0,0
3,2011-05-27 05:30:52,i6g_oA9Yf9Y31qt0wibXpw,ofKDkJKXSKZXu5xJNGiiBQ,0,0,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",5JxlZaqCnk1MnbgRirs40Q,1.0,0
4,2017-01-14 21:56:57,6TdNDKywdbjoTkizeMce8A,UgMW8bLE0QMJDCkQ1Ax5Mg,0,0,"Oh happy day, finally have a Canes near my cas...",IS4cv902ykd8wj1TR0N3-A,4.0,0

In [20]:
# Convert text column to string

review['text'] = review['text'].astype(str)

In [21]:
# Replace -ve value 

review.loc[6543215, ['cool', 'useful']] = 0

In [22]:
# Check NaN

review.isnull().sum()

date           0
review_id      0
user_id        0
useful         0
funny          0
text           0
business_id    0
stars          0
cool           0
dtype: int64

In [23]:
# Check duplicates

len(review['review_id'].unique())

8021122

## Summary of 'review dataframe'

1. `review_id`, `user_id`, `business_id`: No NaN, case sensitive, 22 characters
2. `stars`: No NaN, star rating from 1 to 5
3. `useful`: No NaN, useful votes for review from 0 to 1122
4. `funny`: No NaN, funny votes for review from 0 to 976
5. `cool`: No NaN, cool votes for review from o to 502
6. `text`: No NaN, actual reviews strings
7. `date`: No NaN, review date from 10/12/2004 to 12/13/2019

# `Tip Dataset`

In [24]:
# Load data

# tip_data = pd.read_json('tip.json', lines=True)
tip = pd.read_csv('tip.csv')
tip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1320761 entries, 0 to 1320760
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   date              1320761 non-null  object
 1   user_id           1320761 non-null  object
 2   compliment_count  1320761 non-null  int64
 3   text              1320753 non-null  object
 4   business_id       1320761 non-null  object
dtypes: int64(1), object(4)
memory usage: 50.4+ MB

In [25]:
# Df information

tip.head()

,date,user_id,compliment_count,text,business_id
0,2013-11-26 18:20:08,hf27xTME3EiCp6NL6VtWZQ,0,Here for a quick mtg,UYX5zL_Xj9WEc_Wp-FrqHw
1,2014-06-15 22:26:45,uEvusDwoSymbJJ0auR3muQ,0,Cucumber strawberry refresher,Ch3HkwQYv1YKw_FO06vBWA
2,2016-07-18 22:03:42,AY-laIws3S7YXNl_f_D6rQ,0,Very nice good service good food,rDoT-MgxGRiYqCmi0bG10g
3,2014-06-06 01:10:34,Ue_7yUlkEbX4AhnYdUfL7g,0,It's a small place. The staff is friendly.,OHXnDV01gLokiX1ELaQufA
4,2011-04-08 18:12:01,LltbT_fUMqZ-ZJP-vJ84IQ,0,"8 sandwiches, $24 total...what a bargain!!! An...",GMrwDXRlAZU2zj5nH6l4vQ

In [26]:
# Check NaN 

tip.isnull().sum()

date                0
user_id             0
compliment_count    0
text                8
business_id         0
dtype: int64

## Summary of 'tip dataframe'

1. `user_id`: No NaN, 22 character length, case-sensitive corresponds to user_id in user dataframe
2. `business_id`: No NaN, 22 character length, case-sensitive corresponds to business_id in user dataframe
3. `text`: No NaN, string, text of the tip
4. `date`: No NaN, date ranges from 2009-04-16 to 2019-12-13 in YYYY-MM-DD format
5. `compliment_counts`: Number of likes tip received from 0 to 15

# `User Dataset`

In [27]:
# Load data

# user_data = pd.read_json('user.json', lines=True)
user = pd.read_csv('user.csv')
user.info()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3156: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1968703 entries, 0 to 1968702
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   useful              int64
 1   compliment_note     int64
 2   compliment_cute     int64
 3   name                object
 4   compliment_hot      int64
 5   compliment_writer   int64
 6   elite               object
 7   compliment_funny    int64
 8   compliment_cool     int64
 9   compliment_more     int64
 10  user_id             object
 11  review_count        int64
 12  compliment_profile  int64
 13  funny               int64
 14  friends             object
 15  cool                int64
 16  yelping_since       object
 17  average_stars       float64
 18  compliment_list     int64
 19  fans                int64
 20  compliment_plain    int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 330.4+ MB

In [28]:
# DF information

user.head()

,useful,compliment_note,compliment_cute,name,compliment_hot,compliment_writer,elite,compliment_funny,compliment_cool,compliment_more,...,compliment_profile,funny,friends,cool,yelping_since,average_stars,compliment_list,fans,compliment_plain,compliment_photos
0,628,11,0,Rafael,3,10,NaN,22,22,2,...,1,225,"oeMvJh94PiGQnx_6GlndPQ, wm1z1PaJKvHgSDRKfwhfDg...",227,2007-07-06 03:27:11,3.57,1,14,15,0
1,790,33,2,Michelle,36,21,"2008,2009,2010,2011,2012,2013",63,63,4,...,5,316,"ly7EnE8leJmyqyePVYFlug, pRlR63iDytsnnniPb3AOug...",400,2008-04-28 01:29:25,3.84,1,27,37,5
2,151,3,1,Martin,9,4,2010,17,17,6,...,0,125,"Uwlk0txjQBPw_JhHsQnyeg, Ybxr1tSCkv3lYA0I1qmnPQ...",103,2008-08-28 23:40:05,3.44,0,5,7,1
3,233,7,0,John,2,2,2009,7,7,1,...,0,160,"iog3Nyg1i4jeumiTVG_BSA, M92xWY2Vr9w0xoH8bPplfQ...",84,2008-09-20 00:08:14,3.08,0,6,14,0
4,1265,22,1,Anne,8,19,"2009,2010,2011,2012,2014,2015,2016,2017,2018",31,31,9,...,2,400,"3W3ZMSthojCUirKEqAwGNw, eTIbuu23j9tOgmIa9POyLQ...",512,2008-08-09 00:30:27,4.37,1,78,28,31

In [29]:
# Check NaN 

user.isnull().sum()

useful                      0
compliment_note             0
compliment_cute             0
name                        5
compliment_hot              0
compliment_writer           0
elite                 1892742
compliment_funny            0
compliment_cool             0
compliment_more             0
user_id                     0
review_count                0
compliment_profile          0
funny                       0
friends                     0
cool                        0
yelping_since               0
average_stars               0
compliment_list             0
fans                        0
compliment_plain            0
compliment_photos           0
dtype: int64

## Summary of 'user dataframe'

1. `user_id`: No NaN, unique 22 characters
2. `name`: No NaN, name of the user
3. `review_count`: No NaN, total reviews of user fro 0 to 14455
4. `yelping_since`: No NaN, the date user joined Yelp from 10/12/2004 to 12/13/2019
5. `elite`: No NaN, conatins list of year member was elite (very active contributor)

## Convert to CSV

#business.to_csv(path_or_buf='clean_business.csv',index=False)
#checkin.to_csv(path_or_buf='clean_checkin.csv',index=False)
review.to_csv(path_or_buf='clean_review.csv',index=False)
#tip.to_csv(path_or_buf='clean_tip.csv',index=False)
#user.to_csv(path_or_buf='clean_user.csv',index=False)