### Original dataset link
`https://nijianmo.github.io/amazon/index.html#files`

In [1]:
import os
import json
import gzip
import pandas as pd
from urllib.request import urlopen

In [2]:
## Download the data

## !wget http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/Grocery_and_Gourmet_Food_5.json.gz

In [3]:
# Load data

data = []
with gzip.open('Grocery_and_Gourmet_Food_5.json.gz') as f:
    for i in f:
        data.append(json.loads(i.strip()))
        
print(len(data))

1143860

In [4]:
# Load data into Pandas dataframe

df = pd.DataFrame.from_dict(data)
df.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5.0,True,"11 19, 2014",A1QVBUH9E1V6I8,4639725183,Jamshed Mathur,No adverse comment.,Five Stars,1416355200,NaN,NaN,NaN
1,5.0,True,"10 13, 2016",A3GEOILWLK86XM,4639725183,itsjustme,Gift for college student.,Great product.,1476316800,NaN,NaN,NaN
2,5.0,True,"11 21, 2015",A32RD6L701BIGP,4639725183,Krystal Clifton,"If you like strong tea, this is for you. It mi...",Strong,1448064000,NaN,NaN,NaN
3,5.0,True,"08 12, 2015",A2UY1O1FBGKIE6,4639725183,U. Kane,Love the tea. The flavor is way better than th...,Great tea,1439337600,NaN,NaN,NaN
4,5.0,True,"05 28, 2015",A3QHVBQYDV7Z6U,4639725183,The Nana,I have searched everywhere until I browsed Ama...,This is the tea I remembered!,1432771200,NaN,NaN,NaN

In [5]:
len(df.reviewerName.unique())

101478

In [6]:
df.isnull().sum()

overall                 0
verified                0
reviewTime              0
reviewerID              0
asin                    0
reviewerName          138
reviewText            390
summary               219
unixReviewTime          0
vote               985658
style              551774
image             1134350
dtype: int64

In [7]:
df2 = df.fillna('9999')                               # Fill empty values
df3 = df2[~df2.reviewerName.str.match('9999')]        # Filter empty value rows  

if df.isnull().sum().reviewerName == (len(df2) - len(df3)):
    print ('We successfully filtered NA user row')
else:
    print ('Please check the logic')

We successfully filtered NA user row